<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-mcaf-index") %>>
                    <a href="/docs/providers/mcaf/index.html">MCAF Provider</a>
                </li>

                <li<%= sidebar_current("docs-mcaf-datasource") %>>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-datasource-mcaf-aws-all-organizational-units") %>>
                            <a href="/docs/providers/mcaf/d/aws_all_organizational_units.html">mcaf_aws_all_organizational_units</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-mcaf-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-mcaf-aws-account") %>>
                        <a href="/docs/providers/mcaf/r/aws_account.html">mcaf_aws_account</a>
                        </li>
                    </ul>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-mcaf-aws-codebuild-trigger") %>>
                        <a href="/docs/providers/mcaf/r/aws_codebuild_trigger.html">mcaf_aws_codebuild_trigger</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
